.container {
    display: block;
    text-align: center;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0066e6;
    color: white;
    border: none;
    cursor: pointer;
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}

.button:hover {
    color: yellow;
    scale: 104%;
    opacity: 0.90;
    text-decoration: none;
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:active {
    scale: 96%;
    /*border: 5px solid rgb(223, 202, 13);*/
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}